{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('style.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Series index</h1>
    
    <div class="navigation">
            {{ knp_pagination_render(series) }}
    </div>
    
        <div class="listes">
            {% for s in series %}
                <table class="table">   
                    <th scope="rowgroup">
                         <a href="{{ path('app_series_show', {'id': s.id}) }}"><img src="{{ path('app_series_poster', {'id': s.id}) }}"></a>
                    </th>

                    <tr>
                        <td>
                            {{ s.title }}
                            {% if app.user %}
                                <td>
                                    <a href="{{ path('app_series_like', {'id': s.id}) }}">like</a>
                                </td>
                            {% endif %}
                        </td>
                    </tr>
                </table>        
            {% endfor %}
        </div>
    
    <div class="navigation">
            {{ knp_pagination_render(series) }}
    </div>

{% endblock %}
