{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ asset('style.css') }}" rel="stylesheet"/>
	<link href="{{ asset('styleSeries.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="d-flex flex-wrap justify-content-between align-items-center px-4">
			<form method="GET" class="d-flex flex-wrap">
				<div class="rech">
					<input type="text" name='title' id='title' placeholder="Type to search..">
				</div>
			
				<div class="genre">
					<select name="genre" id="genre">
						<option value="">--Choose a gender--</option>
						{% for genre in genres %}
							<option value="{{ genre.id }}">{{ genre.name }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="annee">
					<select name="debut" id="debut">
						<option value="">--Choose a year--</option>
						{% for year in years %}
							<option value="{{ year }}">{{ year }}</option>
						{% endfor %}
					</select>

					<select name="fin" id="fin">
						<option value="">--Choose a year--</option>
						{% for year in years %}
							<option value="{{ year }}">{{ year }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="rate">
					<select name="rateMin" id="rateMin">
						<option value="">--Choose a minimum rate--</option>
						{% for rate in rates %}
							<option value="{{ rate }}">{{ rate }}</option>
						{% endfor %}
					</select>

					<select name="rateMax" id="rateMax">
						<option value="">--Choose a maximum rate--</option>
						{% for rate in rates %}
							<option value="{{ rate }}">{{ rate }}</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit" class="searchbtn">
					<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-search" viewbox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
				</button>
			</form>
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(series) }}
			</div>
		</div>
		<div class="container-fluid row d-flex justify-content-center">
			{% for s in series %}
				<div class="card col-md-1" style="width: 18rem;">
					<a href="{{ path('app_series_show', {'id': s.id}) }}"><img src="{{ path('app_series_poster', {'id': s.id}) }}" class="card-img-top" height="400px"></a>
					<div class="card-body d-flex flex-columns justify-content-between">
						<div>
							<h5 class="card-title">{{ s.title }}</h5>
							<div class="d-flex">
								{% set rate = s.rate.value|round(1, 'ceil') %}
								{% set finalRate = ((rate / 2)|round(1, 'floor') * 2)|round(0, 'common') / 2 %}
								{% set cpt = finalRate %}
								{% for i in 1..5 %}
									{% if (cpt >= 1 ) %}
										<svg fill="#ffc800" width="18px" height="18px" viewbox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="#ffc800">
											<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
											<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
											<g id="SVGRepo_iconCarrier">
												<title>star-filled</title>
												<path d="M30.859 12.545c-0.168-0.506-0.637-0.864-1.189-0.864h-9.535l-2.946-9.067c-0.208-0.459-0.662-0.772-1.188-0.772s-0.981 0.313-1.185 0.764l-0.003 0.008-2.946 9.067h-9.534c-0.69 0-1.25 0.56-1.25 1.25 0 0.414 0.202 0.782 0.512 1.009l0.004 0.002 7.713 5.603-2.946 9.068c-0.039 0.116-0.061 0.249-0.061 0.387 0 0.69 0.56 1.25 1.25 1.25 0.276 0 0.531-0.089 0.738-0.241l-0.004 0.002 7.714-5.605 7.713 5.605c0.203 0.149 0.458 0.238 0.734 0.238 0.691 0 1.251-0.56 1.251-1.251 0-0.138-0.022-0.271-0.064-0.395l0.003 0.009-2.947-9.066 7.715-5.604c0.314-0.231 0.515-0.598 0.515-1.013 0-0.137-0.022-0.27-0.063-0.393l0.003 0.009z"></path>
											</g>
										</svg>
									{% elseif (cpt < 1 and cpt > 0) %}
										<svg fill="#ffc800" width="18px" height="18px" viewbox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
											<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
											<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
											<g id="SVGRepo_iconCarrier">
												<title>star-half-stroke-filled</title>
												<path d="M30.859 12.545c-0.168-0.506-0.637-0.864-1.189-0.864h-9.535l-2.946-9.067c-0.168-0.505-0.636-0.863-1.188-0.863-0.138 0-0.272 0.023-0.396 0.064l0.009-0.003c-0.376 0.13-0.664 0.427-0.779 0.8l-0.002 0.009-0.021-0.007-2.946 9.067h-9.534c-0.69 0-1.25 0.56-1.25 1.25 0 0.414 0.202 0.782 0.512 1.009l0.004 0.002 7.713 5.603-2.946 9.068c-0.039 0.116-0.061 0.249-0.061 0.387 0 0.69 0.56 1.25 1.25 1.25 0.276 0 0.531-0.089 0.738-0.241l-0.004 0.002 7.714-5.605 7.713 5.605c0.203 0.149 0.458 0.238 0.734 0.238 0.691 0 1.251-0.56 1.251-1.251 0-0.138-0.022-0.271-0.064-0.395l0.003 0.009-2.947-9.066 7.715-5.604c0.314-0.231 0.515-0.598 0.515-1.013 0-0.137-0.022-0.27-0.063-0.393l0.003 0.009zM20.486 18.057c-0.314 0.231-0.515 0.599-0.515 1.014 0 0.137 0.022 0.27 0.063 0.394l-0.003-0.009 2.039 6.271-5.336-3.877c-0.194-0.135-0.435-0.215-0.694-0.215-0.014 0-0.028 0-0.042 0.001l0.002-0v-14.589l2.037 6.272c0.169 0.505 0.637 0.863 1.189 0.863h6.596z"></path>
											</g>
										</svg>
									{% else %}
										<svg fill="#ffc800" width="18px" height="18px" viewbox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
											<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
											<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
											<g id="SVGRepo_iconCarrier">
												<title>star</title>
												<path d="M30.859 12.545c-0.168-0.506-0.637-0.864-1.189-0.864h-9.535l-2.946-9.067c-0.208-0.459-0.662-0.772-1.188-0.772s-0.981 0.313-1.185 0.764l-0.003 0.008-2.946 9.067h-9.534c-0.69 0-1.25 0.56-1.25 1.25 0 0.414 0.202 0.782 0.512 1.009l0.004 0.002 7.713 5.603-2.946 9.068c-0.039 0.116-0.061 0.249-0.061 0.387 0 0.69 0.56 1.25 1.25 1.25 0.276 0 0.531-0.089 0.738-0.241l-0.004 0.002 7.714-5.605 7.713 5.605c0.203 0.149 0.458 0.238 0.734 0.238 0.691 0 1.251-0.56 1.251-1.251 0-0.138-0.022-0.271-0.064-0.395l0.003 0.009-2.947-9.066 7.715-5.604c0.314-0.231 0.515-0.598 0.515-1.013 0-0.137-0.022-0.27-0.063-0.393l0.003 0.009zM20.486 18.057c-0.314 0.231-0.515 0.599-0.515 1.014 0 0.137 0.022 0.27 0.063 0.394l-0.003-0.009 2.039 6.271-5.336-3.877c-0.203-0.149-0.458-0.238-0.734-0.238s-0.531 0.089-0.738 0.241l0.004-0.002-5.336 3.877 2.038-6.271c0.039-0.116 0.062-0.249 0.062-0.387 0-0.414-0.202-0.781-0.512-1.009l-0.004-0.002-5.335-3.876h6.595c0 0 0 0 0.001 0 0.552 0 1.020-0.358 1.185-0.854l0.003-0.009 2.038-6.272 2.037 6.272c0.169 0.505 0.637 0.863 1.189 0.863h6.596z"></path>
											</g>
										</svg>
									{% endif %}
									{% set cpt = cpt - 1 %}
								{% endfor %}
								<p>{{ rate / 2 }}</p>
							</div>
						</div>

						<div>
							{% if app.user %}
								{% if app.user.series.contains(s) %}
									<a href="{{ path('app_series_dislike', {'id': s.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" class="bi svgheart liked bi-heart" viewbox="0 0 16 16" transform="scale(1,1)">
											<path d="M8,15C-7.333,4.868,3.279,-3.04,7.824,1.143c.06.055.119.112.176.171.056421-.058946.115133-.115657.176-.17C12.72,-3.042,23.333,4.867,8,15Z"></path>
										</svg>
									</a>
								{% else %}
									<a href="{{ path('app_series_like', {'id': s.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" class="bi svgheart unliked bi-heart" viewbox="0 0 16 16" transform="scale(1,1)">
											<path d="M8,2.748l-.717-.737C5.6,0.281,2.514,0.878,1.4,3.053c-.523,1.023-.641,2.5.314,4.385.92,1.815,2.834,3.989,6.286,6.357c3.452-2.368,5.365-4.542,6.286-6.357.955-1.886.838-3.362.314-4.385C13.486,0.878,10.4,0.28,8.717,2.01L8,2.748ZM8,15C-7.333,4.868,3.279,-3.04,7.824,1.143c.06.055.119.112.176.171.056421-.058946.115133-.115657.176-.17C12.72,-3.042,23.333,4.867,8,15Z" transform="matrix(.96626 0 0 0.96626 0.269915 0.253049)" stroke="#000" stroke-width="0.5"></path>
										</svg>
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="navigation d-flex justify-content-center mt-5">
			{{ knp_pagination_render(series) }}
		</div>
	</div>
{% endblock %}
