{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Series</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ series.title }}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ series.plot }}</td>
            </tr>
            <tr>
                <th>Imdb</th>
                <td>{{ series.imdb }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td><img src="{{ path('app_series_poster', {'id': series.id}) }}"></td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ series.director }}</td>
            </tr>
            <tr>
                <th>YoutubeTrailer</th>
                {% set debut = "https://www.youtube.com/embed/" %}
                {% set id = series.youtubeTrailer|split('=') %}
                {% set video = "%s%s" | format(debut, id[1]) %}
                <td><iframe width="560" height="315" src="{{video}}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ series.awards }}</td>
            </tr>
            <tr>
                <th>YearStart</th>
                <td>{{ series.yearStart }}</td>
            </tr>
            <tr>
                <th>YearEnd</th>
                <td>{{ series.yearEnd }}</td>
            </tr>
        </tbody>
    </table>
<br>
<br>


    <table>
        <tbody>
            {% set cpt = 1 %}
            {% for s in series.seasons %}
                <tr>
                    <td>Saison numéro {{ cpt }}</td>   
                </tr>
                <tr>
                    {% for epi in s.episodes %}
                        <td>{{ epi.title }}</td> 
                        <td><a href="{{ path('app_series_vu', {'id': epi.id}) }}">vu</a></td>    
                    {% endfor %}
                </tr>
                {% set cpt = cpt + 1 %}
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_series_index') }}">back to list</a>
{% endblock %}
