{% extends 'base.html.twig' %}

{% block title %}
	Series index
{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ asset('style.css') }}" rel="stylesheet"/>
	<link href="{{ asset('styleSeries.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="tete">
	<form method="GET" class="d-flex flex-wrap">
		<input type="text" name='title' id='title' placeholder="Type to search..">

		<select name="genre" id="genre">
			<option value="">--Choose a genre--</option>
			{% for genre in genres %}
				<option value="{{ genre.id }}">{{ genre.name }}</option>
			{% endfor %}
		</select>

		<div>
			<select name="debut" id="debut">
				<option value="">--Choose a year--</option>
				{% for year in years %}
					<option value="{{ year }}">{{ year }}</option>
				{% endfor %}
			</select>

			<select name="fin" id="fin">
				<option value="">--Choose a year--</option>
				{% for year in years %}
					<option value="{{ year }}">{{ year }}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select name="rateMin" id="rateMin">
				<option value="">--Choose a rate--</option>
				{% for rate in rates %}
					<option value="{{ rate }}">{{ rate }}</option>
				{% endfor %}
			</select>

			<select name="rateMax" id="rateMax">
				<option value="">--Choose a rate--</option>
				{% for rate in rates %}
					<option value="{{ rate }}">{{ rate }}</option>
				{% endfor %}
			</select>
		</div>

		<button type="submit" class="searchbtn">
			<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-search" viewbox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</button>
	</form>
</div>
	<div class="glob">
		{% for s in seriesView %}
			<table class="tableau">
				<th>
					<div class="listeseries">
					<a href="{{ path('app_series_show', {'id': s.id}) }}"><img src="{{ path('app_series_poster', {'id': s.id}) }}"height="400px"></a>
					<p>{{ s.title }}</p>
					{% set cpt = 1 %}
					{% for seas in seasons|sort((a, b) => a.number <=> b.number) %}
						{% if seas.series.id == s.id %}
							<div id="accordion">
								<div class="card bg-transparent">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#collapse{{cpt}}{{s.id}}">Saison{{seas.number}}</a>
									</div>
									{% for epi in episodes|sort((a, b) => a.number <=> b.number) %}
										{% if epi.season.id == seas.id %}
											<div id="collapse{{cpt}}{{s.id}}" class="collapse" data-parent="#accordion">
												<div class="card-body border">
													<p>{{ epi.title }} ( Episode :{{ epi.number }} )
														<a href="{{ path('app_series_vu', {'id': epi.id, 'season_number': seas.number, 'epi_number': epi.number}) }}">visionné !</a>
													</p>
												</div>
											</div>
										{% endif %}
									{% endfor %}
								{% set cpt = cpt + 1 %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					</div>
				</th>
			</table>
		{% else %}
			<p>Aucune série en cours de visionnage</p>
		{% endfor %}
	</div>
{% endblock %}
