{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Admin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.
                    email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.admin ? 'Yes' : 'No' }}</td>
                {% if user.admin == '0' %}
                    <td>
                        <a href="{{ path('app_admin_edit', {'id': user.id}) }}">promouvoir</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('app_admin_edit2', {'id': user.id}) }}">dépromouvoir</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
