{% extends 'base.html.twig' %}

{% block title %}
	User index
{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ asset('style.css') }}" rel="stylesheet"/>
	<link href="{{ asset('styleAdmin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<form method="GET">
		<input type="text" name='email' id='email' placeholder="Type to search..">
		<button type="submit" class="searchbtn">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</button>
	</form>
	<form action="{{ path('app_user_faker') }}" method="POST" class="form_usergen">
		<input type="number" id="usergen" name="usergen" min="1" max="100000" step="1">
		<button type="submit" class="btn btn-script">Generate User</button>
	</form>

	<form action="{{ path('app_rate_gen') }}" method="POST" class="form_rategen">
		<button type="submit" class="btn btn-script">Generate ratings</button>
	</form>

<div class="test">
	<div class="panel">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Register Date</th>
					<th>Admin</th>
					<th>Ban</th>
					<th>Actions</th>
				</tr>
			</thead>
			{% for user in users %}
				<tr>
					<td data-title="Id">{{ user.id }}</td>
					<td data-title="Name">{{ user.name }}</td>
					<td data-title="Email">{{ user.email }}</td>
					<td data-title="Register Date">{{ user.registerDate ? user.registerDate|date('Y-m-d H:i:s') : '' }}</td>
					{% if user.admin == '0' %}
						<td class="text-danger" data-title="Admin">{{ user.admin ? 'Yes' : 'No' }}</td>
					{% else %}
						<td class="text-success" data-title="Admin">{{ user.admin ? 'Yes' : 'No' }}</td>
					{% endif %}
					{% if user.ban == '0' %}
						<td class="text-danger" data-title="Ban">{{ user.ban ? 'Yes' : 'No' }}</td>
					{% else %}
						<td class="text-success" data-title="Ban">{{ user.ban ? 'Yes' : 'No' }}</td>
					{% endif %}
					{% if app.user %}
						<td data-title="Actions">
							{% if user.admin == '0' %}
								<a href="{{ path('app_admin_edit', {'id': user.id}) }}" class="text-success">Promouvoir</a> | 
							{% else %}
								<a href="{{ path('app_admin_remove', {'id': user.id}) }}" class="text-danger">Destituer</a> | 
							{% endif %}
							<a href="?_switch_user={{user.email}}">Embody</a> | 
							<a href="{{ path('app_user_change_mdp', {'id': user.id}) }}">Edit</a> | 
							{% if user.ban == '0' %}
								<a href="{{ path('app_admin_ban', {'id': user.id}) }}" class="text-success">Bannir</a>
							{% else %}
								<a href="{{ path('app_admin_unban', {'id': user.id}) }}" class="text-danger">Débannir</a>
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun utilisateurs inscrit.</td>
				</tr>
			{% endfor %}
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(users) }}
			</div>
		</table>

		</div>
	</div>

{% endblock %}
