{% extends 'base.html.twig' %}

{% block title %}
	User index
{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ asset('style.css') }}" rel="stylesheet"/>
	<link href="{{ asset('styleSeries.css') }}" rel="stylesheet"/>
	<link href="{{ asset('styleAdmin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
{% set page = 1 %}
	{% if app.request.get('page') %}
		{% set page = app.request.get('page') %}
	{% endif %}
	<form method="GET" class="d-flex flex-wrap">
		<input type="text" name='nom' id='nom' placeholder="Type to search a name..">
		<input type="text" name="mail" id="mail" placeholder="Type to search an email..">

		<select name="ban" id="ban">
			<option value="">
				All users (Ban and not banned)
			</option>
			<option value="0">Not banned users</option>
			<option value="1">Banned users</option>
		</select>

		<select name="registrationDate" id="registrationDate">
			<option value="ASC">Ascending registration date order</option>
			<option value="DESC">Descending registration date order</option>
		</select>

		<select name="follow" id="follow">
			<option value="">
				All users (Followed and not followed)
			</option>
			<option value="0">
				Not followed users
			</option>
			<option value="1">
				Followed users
			</option>
		</select>

		<select name="admin" id="admin">
			<option value="">
				All users (Admin and not admin)
			</option>
			<option value="0">
				Not admin users
			</option>
			<option value="1">
				Admin users
			</option>
		</select>

		<select name="country" id="country">
			<option value="">
				All countries
			</option>
			{% for country in countries %}
				<option value="{{ country.id }}">
					{{ country.name }}
				</option>
			{% endfor %}
		</select>

		<button type="submit" class="searchbtn">
			<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-search" viewbox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</button>
	</form>
	<form action="{{ path('app_user_faker') }}" method="POST" class="mt-3">
		<input type="number" id="usergen" name="usergen" min="1" max="40000" step="1">
		<button type="submit" class="btn btn-script">Generate User</button>
	</form>

	<form action="{{ path('app_rate_gen') }}" method="POST" class="form_rategen">
		<button type="submit" class="btn btn-script">Generate ratings</button>
	</form>
	<a href="{{ path('app_comments_moderate') }}" class="btn text-white">Moderate Comments</a>

	<div class="d-flex justify-content-center mt-5">
		<div class="panel p-3 rounded">
			<table class="border-0 text-white">
				<thead>
					<tr class="border-0 border-bottom">
						<th>Id</th>
						<th>Name</th>
						<th>Email</th>
						<th>Register Date</th>
						<th>Admin</th>
						<th>Ban</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for user in users %}
					<tr class="border-0">
						<td data-title="Id">{{ user.id }}</td>
						<td data-title="Name">{{ user.name }}</td>
						<td data-title="Email">{{ user.email }}</td>
						<td data-title="Register Date">{{ user.registerDate ? user.registerDate|date('Y-m-d H:i:s') : '' }}</td>
						{% if user.admin == '0' %}
							<td class="text-danger" data-title="Admin">{{ user.admin ? 'Yes' : 'No' }}</td>
						{% else %}
							<td class="text-success" data-title="Admin">{{ user.admin ? 'Yes' : 'No' }}</td>
						{% endif %}
						{% if user.ban == '0' %}
							<td class="text-danger" data-title="Ban">{{ user.ban ? 'Yes' : 'No' }}</td>
						{% else %}
							<td class="text-success" data-title="Ban">{{ user.ban ? 'Yes' : 'No' }}</td>
						{% endif %}
						{% if app.user %}
							<td data-title="Actions">
								{% if user.admin == '0' %}
									<a href="{{ path('app_admin_promouvoir', {'id': user.id, 'page': page}) }}" class="text-success text-decoration-none">Promouvoir</a>
									|
								{% else %}
									<a href="{{ path('app_admin_destituer', {'id': user.id, 'page': page}) }}" class="text-danger text-decoration-none">Destituer</a>
									|
								{% endif %}
								<a href="?_switch_user={{user.email}}" class="text-decoration-none">Embody</a>
								|
								<a href="{{ path('app_user_change_mdp', {'id': user.id}) }}" class="text-decoration-none">Edit</a>
								|
								{% if user.ban == '0' %}
									<a href="{{ path('app_admin_ban', {'id': user.id, 'page': page}) }}" class="text-success text-decoration-none">Bannir</a>
								{% else %}
									<a href="{{ path('app_admin_unban', {'id': user.id, 'page': page}) }}" class="text-danger text-decoration-none">Débannir</a>
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% else %}
					<tr class="border-0 border-bottom">
						<td colspan="7">Aucun utilisateurs inscrit.</td>
					</tr>
				{% endfor %}
				<div class="navigation d-flex justify-content-center">
					{{ knp_pagination_render(users) }}
				</div>
			</table>

		</div>
	</div>

{% endblock %}
