{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <form method="GET">
        <input type="text" name='email' id='email' placeholder="Search..">
        <button type="submit">Submit</button>
    </form>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Register Date</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.registerDate ? user.registerDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ user.admin ? 'Yes' : 'No' }}</td>
            {% if app.user %}
                {% if user.admin == '0' %}
                    <td>
                        <a href="{{ path('app_admin_edit', {'id': user.id}) }}">promouvoir</a>
                        <a href="{{ path('app_admin_incarne', {'id': user.id}) }}">incarne</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('app_admin_edit2', {'id': user.id}) }}">dépromouvoir</a>
                        <a href="{{ path('app_admin_incarne', {'id': user.id}) }}">incarne</a>
                    </td>
                {% endif %}
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(users) }}
    </div>
    </table>

{% endblock %}
