<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="{{ asset('style.css') }}" rel="stylesheet"/>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		{% endblock %}
	</head>

	{% block header %}
		<nav>
			<ul>
				<li>
					<a href="{{ path('app_default') }}"><img src="{{ 'ressources/' ~ 'logofull.png' }}"></a>
				</li>


				{% if app.user %}
					<li>
						<div class="container">
							<div class="row">
								<div class="dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Séries</a>
									<div class="dropdown-menu" aria-labelledby="deroulanta">
										<a class="dropdown-item" href="{{ path('app_series_index') }}">Toutes les Series</a>
										<a class="dropdown-item" href="{{ path('app_liked_series') }}">Séries likés</a>
										<a class="dropdown-item" href="{{ path('app_view_episodes') }}">Séries regardées</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					-
					<li>
						<a href="{{ path('app_user_index') }}">Utilisateurs</a>
					</li>
					-
																									                [{{ app.user.name }}]
					<li>
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<a class="dropdown-item" href="{{ path('app_series_index') }}">Toutes les Series</a>
					-
					<li>
						<a href="{{ path('app_register') }}">Inscription</a>
					</li>
					-
					<li>
						<a href="{{ path('app_login') }}">Connexion</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	{% endblock %}

	{% block body %}{% endblock %}

	{% block footer %}
		<footer class="footer">
			<div class="row">
				<div class="footer-col">
					<h4>WatchList</h4>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="/ressources/cguwatchlist.pdf" target="_blank">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>Navigate</h4>
					<ul>
						<li><a href="{{ path('app_default') }}">Accueil</a></li>
						<li><a href="{{ path('app_series_index') }}">Séries</a></li>
						<li><a href="{{ path('app_admin_index') }}">Panel Admin</a></li>
						<li><a href="{{ path('app_user_index') }}">Liste des Users</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>follow us</h4>
					<div class="social-links">
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="row line">
				<div class="col-md-8 col-sm-6 col-xs-12 separated">
					<p class="copyright-text">Copyright &copy; All Rights Reserved by
						<a href="#">WatchList</a>.
					</p>
				</div>
				<div class="col-md-8 col-sm-6 col-xs-12 separated year">
					<p>2023
					</p>
				</div>
			</div>
		</footer>
	{% endblock %}

</html>
