<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}WatchList
			{% endblock %}
		</title>
		<link
		rel="icon" href="/ressources/logoshort.ico">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
			<link href="{{ asset('style.css') }}" rel="stylesheet"/>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		{% endblock %}
	</head>

	{% block header %}
		<nav class="navbar navbar-light navbar-1 white">
			<a class="navbar-brand img" href="{{ path('app_default') }}"></a>
			<button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
			aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fas fa-bars fa-1x"></i>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent15">
				<ul class="all_navigate navbar-nav mr-auto">
					{% if app.user %}
						<li class="nav-item active">
							<div class="container">
								<div class="row">
									<div class="dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Séries</a>
										<div class="dropdown-menu" aria-labelledby="deroulanta">
											<a class="dropdown-item nav-link" href="{{ path('app_series_index') }}">Toutes les Series</a>
											<a class="dropdown-item nav-link" href="{{ path('app_liked_series') }}">Séries likés</a>
											<a class="dropdown-item nav-link" href="{{ path('app_view_episodes', {'id': app.user.id}) }}">Séries regardées</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<div class="container">
								<div class="row">
									<div class="dropdown">
										{% if app.user.admin != '0' %}
											<a class="nav-link dropdown-toggle nav-link" href="#" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Panels</a>
											<div class="dropdown-menu" aria-labelledby="deroulanta">
												<a class="dropdown-item nav-link" href="{{ path('app_user_index') }}">Liste des Users</a>
												<a class="dropdown-item nav-link" href="{{ path('app_admin_index') }}">Admin</a>
											</div>
										{% else %}
											<a class="dropdown-item decale nav-link" href="{{ path('app_user_index') }}">Liste des Users</a>
										{% endif %}
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<span class="user_name decale">[{{ app.user.email }}]</span>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
						</li>
					{% else %}
						<a class="dropdown-item decale nav-link" href="{{ path('app_series_index') }}">Toutes les Series</a>
						<li class="decale nav-item">
							<a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
						</li>
					{% endif %}

					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and is_granted('ROLE_PREVIOUS_ADMIN') %}
						<li class="nav-item">
							<a href="{{ path('app_admin_index', {'_switch_user' : '_exit' }) }}" class="nav-link">désincarner</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		
		<nav class="normal">
		<div>
			<ul>
				<li>
					<a href="{{ path('app_default') }}"><img src="{{ '/ressources/' ~ 'logofull.png' }}"></a>
				</li>
			</ul>
			<ul class="all_navigate">
				{% if app.user %}
					<li>
						<div class="container">
							<div class="row">
								<div class="dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Séries</a>
									<div class="dropdown-menu" aria-labelledby="deroulanta">
										<a class="dropdown-item" href="{{ path('app_series_index') }}">Toutes les Series</a>
										<a class="dropdown-item" href="{{ path('app_liked_series') }}">Séries likés</a>
										<a class="dropdown-item" href="{{ path('app_view_episodes', {'id': app.user.id}) }}">Séries regardées</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							
							<div class="row">
								<div class="dropdown">
									{% if app.user.admin != '0' %}
										<a class="nav-link dropdown-toggle" href="#" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Panels</a>
										<div class="dropdown-menu" aria-labelledby="deroulanta">
											<a class="dropdown-item" href="{{ path('app_user_index') }}">Liste des Users</a>
											<a class="dropdown-item" href="{{ path('app_admin_index') }}">Admin</a>
										</div>
									{% else %}
										<a class="dropdown-item decale" href="{{ path('app_user_index') }}">Liste des Users</a>
									{% endif %}
								</div>
							</div>
						</div>
					</li>
					<li>
						<span class="user_name decale">[{{ app.user.email }}]</span>
					</li>
					<li>
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<a class="dropdown-item decale" href="{{ path('app_series_index') }}">Toutes les Series</a>
					<li class="decale">
						<a href="{{ path('app_register') }}">Inscription</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}">Connexion</a>
					</li>
				{% endif %}

				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and is_granted('ROLE_PREVIOUS_ADMIN') %}
					<li>
						<a href="{{ path('app_admin_index', {'_switch_user' : '_exit' }) }}">Désincarner</a>
					</li>
				{% endif %}
			</ul>
			</div>
		</nav>

	{% endblock %}



	{% block body %}{% endblock %}

	{% block footer %}
		<footer class="footer">
			<div class="row">
				<div class="footer-col">
					<h4>WatchList</h4>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="/ressources/cguwatchlist.pdf" target="_blank">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>Navigate</h4>
					<ul>
						<li><a href="{{ path('app_default') }}">Accueil</a></li>
						<li><a href="{{ path('app_series_index') }}">Séries</a></li>
						{% if app.user %}
							{% if app.user.admin != '0' %}
								<li><a href="{{ path('app_admin_index') }}">Panel Admin</a></li>
							{% endif %}
							<li><a href="{{ path('app_user_index') }}">Liste des Users</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="footer-col">
					<h4>follow us</h4>
					<div class="social-links">
						<a href="https://gitlab-ce.iut.u-bordeaux.fr/lecopeaux/e7-dev-app" target="_blank">
							<i class="fab fa-gitlab"></i>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 380"><defs><style>.cls-1{fill:#e24329;}.cls-2{fill:#fc6d26;}.cls-3{fill:#fca326;}</style></defs><g id="LOGO"><path class="cls-1" d="M282.83,170.73l-.27-.69-26.14-68.22a6.81,6.81,0,0,0-2.69-3.24,7,7,0,0,0-8,.43,7,7,0,0,0-2.32,3.52l-17.65,54H154.29l-17.65-54A6.86,6.86,0,0,0,134.32,99a7,7,0,0,0-8-.43,6.87,6.87,0,0,0-2.69,3.24L97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82,19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91,40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"/><path class="cls-2" d="M282.83,170.73l-.27-.69a88.3,88.3,0,0,0-35.15,15.8L190,229.25c19.55,14.79,36.57,27.64,36.57,27.64l40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"/><path class="cls-3" d="M153.43,256.89l19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91S209.55,244,190,229.25C170.45,244,153.43,256.89,153.43,256.89Z"/><path class="cls-2" d="M132.58,185.84A88.19,88.19,0,0,0,97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82s17-12.85,36.57-27.64Z"/></g></svg>
						</a>
						<a href="https://www.linkedin.com/in/lenny-copeaux/" target="_blank">
							<i class="fab fa-lenny"></i>
							<img src="/ressources/lennyf.png">
						</a>
						<a href="https://www.linkedin.com/in/alex-guimbeau-579215243/" target="_blank">
							<i class="fab fa-alex"></i>
							<img src="/ressources/alexf.png">
						</a>
						<a href="https://www.linkedin.com/in/valentin-sourdois-pajot/" target="_blank">
							<i class="fab fa-valentin"></i>
							<img src="/ressources/valentinf.png">
						</a>
					</div>
				</div>
			</div>
			<div class="row line">
				<div class="col-md-8 col-sm-6 col-xs-12 separated">
					<p class="copyright-text">Copyright &copy; All Rights Reserved by
						<a href="#">WatchList</a>.
					</p>
				</div>
				<div class="col-md-8 col-sm-6 col-xs-12 separated year">
					<p>2023
					</p>
				</div>
			</div>
		</footer>
	{% endblock %}

</html>
