{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ asset('style.css') }}" rel="stylesheet"/>
    <link href="{{ 'acceuil.css' }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<body>
    <div class="acceuil">
        <div class="example-wrapper">
            <p>
                WatchList est le site idéal pour tous les amateurs de séries ! 
                Avec WatchList, vous pouvez explorer une liste complète de séries, 
                marquer celles que vous avez déjà vues et celles qui vous intéressent. 
                Grâce à notre interface intuitive, vous pouvez facilement suivre votre progression et découvrir de nouvelles séries passionnantes. 
                Alors qu'attendez-vous ? Inscrivez-vous dès maintenant sur WatchList et commencez votre voyage dans le monde passionnant des séries !
            </p>
        </div>
        <div class="navi">
            {% if app.user %}
                <button class="button conn" onclick="location.href='{{ path('app_login') }}'">Connectez-vous</button>
                <p class="Inscr">Pas de compte? <a href="{{ path('app_register') }}">Inscrivez-vous</a></p>
            {% endif %}
            <button class="button" onclick="location.href='{{ path('app_series_index') }}'">Voir les séries</button>
        </div>
    </div>
</body>
{% endblock %}
